.navbar, .offcanvas-end, .form-control {
    background-color: #262526;
}

.brand_logo {
    width: 10em;
}

.nav-link, .offcanvas-title {
    color: #f2f2f2;
}

.nav-link:hover {
    color: #f2f2f2;
    text-decoration: underline;
}

.navConnection {
    color: #D92332;
}

.navConnection:hover {
    color: #D92332;
    text-decoration: underline;
}

.navConnection:focus {
    color: #D92332;
    text-decoration: underline;
}

.bg-danger {
    color: #D92332;
    background-color: #D92332;
}

footer {
    background-color: #262526;
    color: #D9777F;
}

h1 {
    color: #D92332;
}

.form-group {
    width: 13.5rem;
}

#car-detail-btn {
    width: 10rem;
}

.form-group > label {
    color: #f2f2f2;
}

.form-control {
    background-color: #f2f2f2;
}

#myBtn {
    display: none;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #D92332; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #262526; /* Add a dark-grey background on hover */
  }

@media (min-width: 992px) {

    .filter-toggle-btn {
        display: none;
    }
    .form-group > label {
        color: #262526;
    }
    .form-control, .form-choice {
        width: 13.5rem;
    }
}