.navbar,
.offcanvas-end,
.form-control {
    background-color: #262526;
}

.brand_logo {
    width: 10em;
}

.nav-link,
.offcanvas-title {
    color: #f2f2f2;
}

.nav-link:hover {
    color: #f2f2f2;
    text-decoration: underline;
}

.navConnection {
    color: #D92332;
}

.navConnection:hover {
    color: #D92332;
    text-decoration: underline;
}

.navConnection:focus {
    color: #D92332;
    text-decoration: underline;
}

.bg-danger {
    color: #D92332;
    background-color: #D92332;
}

footer {
    background-color: #262526;
    color: #D9777F;
}

h1, h2 {
    color: #D92332;
}

.form-group {
    width: 13.5rem;
}

#car-detail-btn {
    width: 10rem;
}

.form-group>label {
    color: #f2f2f2;
}

.form-control {
    background-color: #f2f2f2;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #D92332;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#myBtn:hover {
    background-color: #262526;
}

.car-card {
    width: 35vh;
    height: 50vh;
}

.car-card-img {
    width: 100%;
    height: 100%;
}

#car-carousel,
.car-carousel-img {
    width: 40em;
    height: 30em;
}

.sr-only {
    color: black;
}

.table-label {
    font-weight: bold;
    padding-right: 4em;
}

.car-table td {
    border-bottom: #262526 1px solid;
}

.car-table tr:last-child td {
    border-bottom: none;
}

@media (min-width: 992px) {

    .filter-toggle-btn {
        display: none;
    }

    .form-group>label {
        color: #262526;
    }

    .form-group .form-control,
    .form-choice {
        width: 13.5rem;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {
    .table-media {
        margin-left: 3.5em;
    }

    nav, footer {
        width: 140%;
    }
}
