.navbar, .offcanvas-end, .form-control {
    background-color: #262526;
}

.brand_logo {
    width: 10em;
}

.nav-link, .offcanvas-title {
    color: #f2f2f2;
}

.nav-link:hover {
    color: #f2f2f2;
    text-decoration: underline;
}

.navConnection {
    color: #D92332;
}

.navConnection:hover {
    color: #D92332;
    text-decoration: underline;
}

.navConnection:focus {
    color: #D92332;
    text-decoration: underline;
}

.bg-danger {
    color: #D92332;
    background-color: #D92332;
}

footer {
    background-color: #262526;
    color: #D9777F;
}

h1 {
    color: #D92332;
}

form {
    width: 15rem;
}

#car-detail-btn {
    width: 10rem;
}

.form-group > label {
    color: #f2f2f2;
}

.form-control {
    background-color: #f2f2f2;
}

@media (min-width: 992px) {

    .filter-toggle-btn {
        display: none;
    }
    .form-group > label {
        color: #262526;
    }
    .form-control, .form-choice {
        width: 13.5rem;
    }
}